@font-face {
  font-family: 'MainFont';
  src:  url('./fonts/soybean.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  background: white;
  /*margin: 0;*/
}

.header { 
  height: 90vh;
  position: relative;
}

h1 {
    text-align: center;
    color: #00688b;
    font-family: 'MainFont';
    font-size: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #0F2027;
}

/*===================AXIS=====================*/

.x-axis path, .y-axis path, .x-axis line, .y-axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.x-axis text, .y-axis text {
  font-family: sans-serif;
  font-size: 10px;
}

h2 {
  font-weight: 300;
  font-size: 16px;
}

/*=================TOOLTIP==================*/

div.tooltip {
  position: absolute;
  max-width: 200px;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 4px 4px 10px rbga(0,0,0,0.5);
  pointer-events: none; /*IMPORTANT*/
  font-family: sans-serif;
  font-size: 12px;
}


.continent {
    stroke: #FFFFFF;
    stroke-width: 0.5;
}

.borough-labels {
  font-size: 0.35em;
  text-anchor: right;
}

.circle-icon {
  cursor: pointer;
}

.map-wrapper {
  margin: 0 auto;
  height: 80vh;
}

.map {
  width: 70vw;
  float: left;
}

.panel {
  text-align: center;
  width: 25vw;
  height: 500px;
  float: left;
}

h3 {
  font-size: 3vw;
  color: black;
}

/*--------------------TOOLTIP--------------------*/

div.tooltipDiv {
  background-color: white;
  position: absolute;     
  width: 180px;          
  height: 140px;         
  padding: 2px;          
  border: none;   
  border-radius: 2px;     
  pointer-events: none;
}

div.tooltipDiv .tooltip-price {
  text-align: center;
  background: #003445; 
  font-size: 20px;
  font-weight: 900;
  color: #fafafa;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0;
}
div.tooltipDiv .tooltip-type {
  text-align: left;
  color: grey;
  font-weight: 700;
  font-size: 12px;
}
div.tooltipDiv .tooltip-description {
  text-align: left;
  font-weight: 700;
  font-size: 14px;
}

/*---------------------TABLE-----------------------*/

table.panel-table-home, table.panel-table-shared, table.panel-table-private, table.panel-table-comparison {
  width: 100%;
  margin-top: 10px;
}

table.panel-table-home th, table.panel-table-shared th, table.panel-table-private th, table.panel-table-comparison th {
  text-align: left;
}

table.panel-table-home td, table.panel-table-shared td, table.panel-table-private td, table.panel-table-comparison td {
  text-align: right;
}

/*---------------------------------------------------------*/


.propertyTypeContainer{
  width: 100%;
}

.propertyTypeContainer .propertyTypeMenu {
  border-bottom: solid 3px blue;
}

.propertyTypeContainer .propertyTypeMenu button {
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 8px 8px 0px 0px;
  width: 30%;
}

.propertyTypeContainer .propertyTypeMenu button:hover {
  background-color: blue;
}

.propertyTypeContainer .propertyType {
  display: none;
}

/*------------------------------------------------------*/

.panel-piechart-comparison text {

}