$padding: 15px;

.flat-image {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

header {
    padding: 0 15px;
}

.vert-align {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 10px;
}

.column {
    background-color: white;
    flex: 1;
    margin: 5px;
    padding: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    &:first-child { margin-left: 0; }
    &:last-child { margin-right: 0; }
    
}


@media screen and (max-width: 980px) {
  .columns .column {
        margin-bottom: 5px;
    flex-basis: 40%;
        &:nth-last-child(2) {
            margin-right: 0;
        }
        &:last-child {
            flex-basis: 100%;
            margin: 0;
        }
    }
}

@media screen and (max-width: 680px) {
    .columns .column {
        flex-basis: 100%;
        margin: 0 0 5px 0;
    }
}