$padding: 15px;

//=====================Chart===========================

.path-bookings {
    stroke: $toyblue;
    stroke-width: 1;
    fill: none;
}

.tick line {
    stroke: #C0C0BB;
}

.description {
    font-family: 'GilroyLight';
}