@import "colours";

section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background: $off-white;
}

main {
  height: 100vh;
  overflow: hidden;
}

section:nth-child(2), section:nth-child(3), section:nth-child(4), section:nth-child(5) {
  background: $lavender;
}

.component {
  padding-top: 50px;
  height: 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  transition: all 0.5s 0.5s;
}
.component.show {
  opacity: 1;
  transform: translateY(0);
}

.nav {
  width: 100%;
  background: $toyblue;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
}

button {
  outline: none;
  background: $toyblue;
  line-height: 0;
  height: 30px;
  font-family: 'GilroyLight';
  color: $off-white;
  font-size: 14px;
  border: none;
  padding: 10px;
}

button:hover {
  color: $darkblue;
  -webkit-transition: color 300ms linear;
  -ms-transition: color 300ms linear;
  transition: color 300ms linear;
}

.fl-right {
  float: right;
}