$padding: 15px;

.section-title {
    margin-left: $padding;
    margin-right: $padding;
    border-top: 3px dotted $off-white;
}

.section-borough-wrapper {
    width: calc(100% - #{$padding} * 2);
    select  {
      width: calc(100% - #{$padding} * 2);
    }
}

.section-panel {
    margin-left: $padding;
    margin-right: $padding;
    p {
        margin-top: 0;
    }
};

.section-panel::after { 
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

.section-panel-text {
    font-family: 'GilroyLight';
    float: left;
    width: 70%;
};
.section-panel-selector {
    float: left;
    width: 30%;

    p {
        margin-left: $padding;
        font-family: 'GilroyBold';
    }
};