@import "colours";
@import "map";
@import "chart";

@font-face {
  font-family: 'GilroyLight';
  font-weight: 800;
  src:  url('../fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
  font-family: 'GilroyBold';
  src:  url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

body {
  // overflow-x: hidden;
  margin: 0;
}

/*=================PAGE SECTION================*/

.page-section1 {
  background-color: $off-white;
  height: calc(100vh - 47px);
  width: 100%;
}

.page-section2 {
  background-color: $lavender;
  height: calc(100vh - 47px);
  width: 100%;
}

/*=================HEADERS====================*/

h1 {
    text-align: center;
    color: $darkblue;
    font-family: 'GilroyBold';
    font-size: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
  font-size: 3vw;
  color: black;
}

/*===================MENU=====================*/

ul.main-menu {
  font-family: 'GilroyLight';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $toyblue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;

  li {
    float: left;

    a {
      display: block;
      color: $off-white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a:hover {
      color: $darkblue;
    }

    a.active {
      background-color: $darkblue;
      pointer-events: none;
    }
  }
}




