@import "colours";
@import "map";
@import "chart";

$padding: 30px;

@font-face {
  font-family: 'GilroyLight';
  font-weight: 800;
  src:  url('../fonts/Gilroy-Light.woff') format('woff');
}
@font-face {
  font-family: 'GilroyBold';
  src:  url('../fonts/Gilroy-ExtraBold.woff') format('woff');
}

body {margin: 0;}

/*=================PAGE SECTION================*/

.page-section1 {
  background-color: $off-white;
  height: calc(100vh - 58px);
  width: 100vw;
}

.page-section2 {
  background-color: $lavender;
  height: calc(100vh - 58px);
  width: 100vw;
}

/*=================HEADERS====================*/

h1 {
    text-align: center;
    color: $darkblue;
    font-family: 'GilroyBold';
    font-size: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h3 {
  font-size: 3vw;
  color: black;
}

/*===================MENU=====================*/

ul.main-menu {
  font-family: 'GilroyLight';
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: $toyblue;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 100;

  li {
    float: left;

    a {
      display: block;
      color: $off-white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    a:hover {
      color: $darkblue;
    }

    a.active {
      background-color: $darkblue;
      pointer-events: none;
    }
  }
}

/*=================MAP LAYOUT===================*/
.map-layout-left {
  background:$lavender;
  height: 100%;
  width: 70%;
  position: absolute;

  .box-style {
    height: 80px;
    margin: $padding;
    background-color: $off-white;
    position: absolute;
    box-shadow: 2px 2px 2px 2px #D9E3FC;
    border-radius: 4px;
  }

  .map-layout-borough {
    width: calc(75% - #{$padding} - #{$padding} / 2);
    .map-label-borough {
      font-family: 'GilroyLight';
      font-size:12px;
      color:$toyblue;
      margin: 5px;
      margin-left: 10px;
    }
    .map-value-borough {
      font-family: 'GilroyBold';
      font-size:34px;
      color:$darkblue;
      margin: 5px;
      margin-left: 10px;
    }
  }

  .map-layout-properties {
    width: calc(25% - #{$padding} - #{$padding} / 2);
    right: 0px;
    .map-label-properties {
      font-family: 'GilroyLight';
      font-size:12px;
      color:$toyblue;
      margin: 5px;
      margin-left: 10px;
    }
    .map-value-properties {
      font-family: 'GilroyBold';
      font-size:34px;
      color:$darkblue;
      margin: 5px;
      margin-left: 10px;
    }
  }

  .map-layout-map {
    width: calc(100% - $padding * 2);
    height: 20px;
    background-color: red;
    position: absolute;
  }
}

















.map-layout-right {
  background:$darkblue;
  height: 100%;
  width: 30%;
  position: absolute;
  right: 0;
}




